@charset "UTF-8";
/*! copyright ©2022 XYZscratcher All Rights Reserved. */
/*!
  作者：XYZscratcher
  官方开源地址：https://github.com/XYZscratcher/xyzstart
  作者博客：https://我的网站.rth1.one/
  转载或使用请保留以上信息，谢谢！*/
/*@font-face{font-family:"YRD";font-style: normal; src: url("/杨任东竹石体-Regular.ttf")}*/
:root{
    --font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
@media screen and (min-width: 990px) {
	:root {
		--search-width: calc(700px + 2vw)
	}
}

@media screen and (max-width:990px) {
	:root {
		--search-width: calc(450px + 2vw)
	}
}

@media screen and (max-width: 480px) {
	:root {
		--search-width: calc(290px + 2vw)
	}
}

/*#h1,body {
	font-family: Arial,Helvetica,sans-serif;
}*/

body {
	background-color: #87ceeb;
	/*background: linear-gradient(to right,#87ceeb,#e6e6fa);*/
    background-image: url(https://www.yangshangzhen.com/bing/wallpaper);
	font-weight: 200;
    color:white!important;
    font-family: var(--font-family);
}

.height {
	height: 46vh;
	padding: 2vw
}

.search {
	border-radius: 23px;
	position: relative;
	box-shadow: 0 0 40px       rgba(51,51,51,.3);
	width: var(--search-width);
	margin: auto;
}

.search input {
    transition-property: background-color,border;
    transition-duration: 0.3s;
	border-radius: 23px;
	height: 50px;
	text-indent: 25px;
	width: var(--search-width);
	margin: auto;
	background-color: rgba(255,255,255,.6);
	text-align: left;
}

.search input:focus {
    box-shadow:none;
    transition-property: border;
    transition-duration: 0.3s;
	border: 1.618px solid #00f;
	background-color: white;
	text-align: left
}

.search input:hover {
    transition-property: background-color;
    transition-duration: 0.3s;
	background-color: white;
    /*width: calc(var(--search-width) + 1vw)*/
}

/*.search .fa-search {
	position: absolute;
	top: 17px;
	left: 16px
}*/

.search button {
	border-radius: 20px;
	position: absolute;
	top: 5px;
	right: 10px;
	height: 40px;
	width: 70px;
	background-color: #22f;
}

#h1 {
    font-weight: 300;
	position: absolute;
	top: 10%;
	text-align: center;
	animation-name: myfirst;
	animation-duration: 1.3s;
	transition: font-size 0.1s;
    font-family: var(--font-family);
}

@keyframes myfirst {
	0% {
		color: rgba(255,255,255,.1);
	}

	100% {
		color: white;
	}
}

#poem_info,#poem_sentence {
	text-align: center;
	text-decoration: none;
	color: white;
	display: block
}

#poem_sentence {
	font-family: "LXGW wenkai Lite",sans-serif;
	font-size: calc(20px + 0.6vmin);
	text-rendering: optimizeSpeed;
	margin-top: calc(95px + 15vmin);
}

#poem_info {
    padding-top: 8px;
	font-size: calc(12px + 0.6vmin);
}

#nav {
	text-align: right
}

#loginbtn {
	display: none;
	margin: 10px 15px;
	border-radius: 25px;
	background-color: hsla(-0, 100%, 90%, 0.3);
	border-width: .1px;
}
    
